cat > .gitignore << 'EOF'
node_modules
build
.env
aws/
awscliv2.zip
jenkins.war
terraform-project/.terraform/
terraform-project/.terraform.lock.hcl
terraform-project/terraform.tfstate
terraform-project/terraform.tfstate.backup
EOF
